<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>家私家具</title>
    <link rel="stylesheet" href="../css/aboutus.css">
    <script src="../js/jquery.js"></script>
</head>
<body>
    <div class="header">
        <div class="title">
            <span>Furniture Design</span>
        </div>
        <div class="nav-bar">
            <ul class="clearfix">
                <li><a href="./index.html">首页</a></li>
                <li class="active"><a href="./aboutus.html">关于我们</a></li>
                <li><a href="./product.html">产品展示</a></li>
                <li><a href="./news.html">行业资讯</a></li>
                <li><a href="./contact.html">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="top-img">
            <img src="../images/6.jpg" alt="">
        </div>
        <div class="contact clearfix">
            <div class="intro">
                 <h3>家具设计/设计师</h3>
                 <p>家具设计师是根据室内空间的使用性质，所处环境和要求，结合制造工艺及美学原理，设计各类家具产品的专业设计人员</p>
            </div>
            <div class="pro-img">
                <img src="../images/4.jpg" alt="">
            </div>
            <div class="about-us">
                <h3>关于我们</h3>
                <p>我们的家居一直秉承绿色的核心理念，以绿色文化、鱼水文化为企业核心文化价值。在全友，绿色不仅是全友品牌的基础色调和核心基因，更是所有人的价值信仰和精神高地；绿色不仅是对产品全流程</p>
            </div>
        </div>
        <div class="img-list">
            <div class="clearfix">
                <div class="img-left">
                    <img src="../images/img-left.jpg" alt="">
                </div>
                <div class="img-right">
                    <div class="img-desc">
                        <div class="title">
                            享受家居创意
                        </div>
                        <div class="content">
                            我们的业主在装修他们的新居时，最期望的是创造一个开敞的空间，能够让家人更多的时间待在一起。同时要有趣能够让孩子们置身其中时激发他们行动的灵感”
                        </div>
                    </div>
                </div>
            </div> 
            <div class="img-bottom">
                    <img src="../images/img-bottom.jpg" alt="">
                    <div class="img-desc">
                    现代简约风格，轻松打造幸福家
                    </div>
            </div>
        </div>
        <div class="aboutus clearfix">
            <div class="left-part">
                <h3>关于我们</h3>
                <p>家，如同其主人一般，家中有太多个人的生活印记，承载个人梦想。这个家是有生命的他就是一个热爱光影，热爱旅行，热爱运动热爱生活的大男孩儿，我们的业主在装修他们的新居时，最期望的</p>
            </div>
            <div class="right-part">
                <img src="../images/7.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="footer">
        2017 网站模板-家私家具 版权所有
    </div>
</body>
</html>