<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>家私家具</title>
    <link rel="stylesheet" href="../css/nivo-slider.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="header">
        <div class="title">
            <span>Furniture Design</span>
        </div>
        <div class="nav-bar">
            <ul class="clearfix">
                <li class="active"><a href="./index.html">首页</a></li>
                <li><a href="./aboutus.html">关于我们</a></li>
                <li><a href="./product.html">产品展示</a></li>
                <li><a href="./news.html">行业资讯</a></li>
                <li><a href="./contact.html">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="nivoSlider" id="slider">
            <img src="../images/1.jpg" >
            <img src="../images/2.png" >
            <img src="../images/1.jpg" >
            <img src="../images/2.png" >
        </div>
        <div class="select-info">
            <ul class="select-nav ">
                <li>资讯精选</li>
            </ul>
            <div class="info-list">
                <ul class="clearfix">
                    <li><img src="../images/3.jpg" alt=""></li>
                    <li>
                        <a href="javascript:void(0);" class="info-title">Rick Owens 也设计家具</a>
                        <p class="info-content">洛杉矶当代艺术博物馆）正在展出时装设计师 Rick Owens 的家具展。你可能不知道，从 2007 年开始，</p>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="info-title">Rick Owens 也设计家具</a>
                        <p class="info-content">洛杉矶当代艺术博物馆）正在展出时装设计师 Rick Owens 的家具展。你可能不知道，从 2007 年开始，</p>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="info-title">Rick Owens 也设计家具</a>
                        <p class="info-content">洛杉矶当代艺术博物馆）正在展出时装设计师 Rick Owens 的家具展。你可能不知道，从 2007 年开始，</p>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="info-title">Rick Owens 也设计家具</a>
                        <p class="info-content">洛杉矶当代艺术博物馆）正在展出时装设计师 Rick Owens 的家具展。你可能不知道，从 2007 年开始，</p>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="info-title">Rick Owens 也设计家具</a>
                        <p class="info-content">洛杉矶当代艺术博物馆）正在展出时装设计师 Rick Owens 的家具展。你可能不知道，从 2007 年开始，</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="img-list">
            <div class="clearfix">
                <div class="img-left">
                    <img src="../images/img-left.jpg" alt="">
                </div>
                <div class="img-right">
                    <div class="img-desc">
                        <div class="title">
                            享受家居创意
                        </div>
                        <div class="content">
                            我们的业主在装修他们的新居时，最期望的是创造一个开敞的空间，能够让家人更多的时间待在一起。同时要有趣能够让孩子们置身其中时激发他们行动的灵感”
                        </div>
                    </div>
                </div>
            </div> 
            <div class="img-bottom">
                    <img src="../images/img-bottom.jpg" alt="">
                    <div class="img-desc">
                    现代简约风格，轻松打造幸福家
                    </div>
            </div>
        </div>
        <div class="contact clearfix">
            <div class="industry-list">
                <ul class="title">
                    <li>业界动态</li>
                </ul>
                <ul class="news-list">
                    <li><a href="javascript:void(0);">中国家具市场现状与未来趋势</a></li>
                    <li><a href="javascript:void(0);">中国家具市场现状与未来趋势</a></li>
                    <li><a href="javascript:void(0);">中国家具市场现状与未来趋势</a></li>
                    <li><a href="javascript:void(0);">中国家具市场现状与未来趋势</a></li>
                    <li><a href="javascript:void(0);">中国家具市场现状与未来趋势</a></li>
                    <li><a href="javascript:void(0);">中国家具市场现状与未来趋势</a></li>
                </ul>
            </div>
            <div class="pro-img">
                <img src="../images/4.jpg" alt="">
            </div>
            <div class="about-us">
                <h3>关于我们</h3>
                <p>我们的家居一直秉承绿色的核心理念，以绿色文化、鱼水文化为企业核心文化价值。在全友，绿色不仅是全友品牌的基础色调和核心基因，更是所有人的价值信仰和精神高地；绿色不仅是对产品全流程</p>
            </div>
        </div>
        <div class="pro-list">
            <ul class="select-nav ">
                <li>产品展示</li>
            </ul>
            <ul class="img-list clearfix">
                <li><img src="../images/4.jpg" alt=""></li>
                <li><img src="../images/4.jpg" alt=""></li>
                <li><img src="../images/4.jpg" alt=""></li>
                <li><img src="../images/4.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        2017 网站模板-家私家具 版权所有
    </div>
    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.nivo.slider.js"></script>
    <script src="../js/index.js"></script>
</body>
</html>