<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>家私家具</title>
    <link rel="stylesheet" href="../css/news.css">
    <script src="../js/jquery.js"></script>
</head>
<body>
    <div class="header">
        <div class="title">
            <span>Furniture Design</span>
        </div>
        <div class="nav-bar">
            <ul class="clearfix">
                <li><a href="./index.html">首页</a></li>
                <li><a href="./aboutus.html">关于我们</a></li>
                <li><a href="./product.html">产品展示</a></li>
                <li class="active"><a href="./news.html">行业资讯</a></li>
                <li><a href="./contact.html">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="top-img">
            <img src="../images/6.jpg" alt="">
        </div>
        <div class="news-content clearfix">
            <ul class="title">
                <li>行内资讯</li>
            </ul>
            <div class="news-list clearfix">
                <ul>
                    <li class="clearfix">
                        <div class="left-part">
                            <p class="day">03</p>
                            <p class="date">2017/05</p>
                        </div>
                        <div class="right-part">
                            <h3>家具业与楼市行情背道而驰 2012或将入黄金时代</h3>
                            <p>楼市政策日趋变化，不变的是国家调控的信心。作为下游产业的家居业或多或少受了楼市的影响。然而，随着经适房的推出和老房翻新比重的加大，家具行业反而获得了快速发展，与低迷的楼市背道而驰，迈入了发展...</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="left-part">
                            <p class="day">03</p>
                            <p class="date">2017/05</p>
                        </div>
                        <div class="right-part">
                            <h3>家具业与楼市行情背道而驰 2012或将入黄金时代</h3>
                            <p>楼市政策日趋变化，不变的是国家调控的信心。作为下游产业的家居业或多或少受了楼市的影响。然而，随着经适房的推出和老房翻新比重的加大，家具行业反而获得了快速发展，与低迷的楼市背道而驰，迈入了发展...</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="left-part">
                            <p class="day">03</p>
                            <p class="date">2017/05</p>
                        </div>
                        <div class="right-part">
                            <h3>家具业与楼市行情背道而驰 2012或将入黄金时代</h3>
                            <p>楼市政策日趋变化，不变的是国家调控的信心。作为下游产业的家居业或多或少受了楼市的影响。然而，随着经适房的推出和老房翻新比重的加大，家具行业反而获得了快速发展，与低迷的楼市背道而驰，迈入了发展...</p>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="left-part">
                            <p class="day">03</p>
                            <p class="date">2017/05</p>
                        </div>
                        <div class="right-part">
                            <h3>家具业与楼市行情背道而驰 2012或将入黄金时代</h3>
                            <p>楼市政策日趋变化，不变的是国家调控的信心。作为下游产业的家居业或多或少受了楼市的影响。然而，随着经适房的推出和老房翻新比重的加大，家具行业反而获得了快速发展，与低迷的楼市背道而驰，迈入了发展...</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">
        2017 网站模板-家私家具 版权所有
    </div>
</body>
</html>