<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>家私家具</title>
    <link rel="stylesheet" href="../css/product.css">
    <script src="../js/jquery.js"></script>
</head>
<body>
    <div class="header">
        <div class="title">
            <span>Furniture Design</span>
        </div>
        <div class="nav-bar">
            <ul class="clearfix">
                <li><a href="./index.html">首页</a></li>
                <li><a href="./aboutus.html">关于我们</a></li>
                <li class="active"><a href="./product.html">产品展示</a></li>
                <li><a href="./news.html">行业资讯</a></li>
                <li><a href="./contact.html">联系我们</a></li>
            </ul>
        </div>
    </div>
    <div class="main">
        <div class="top-img">
            <img src="../images/6.jpg" alt="">
        </div>
        <div class="success-case clearfix">
            <ul class="title">
                <li>成功案例</li>
            </ul>
            <div class="content clearfix">
                <div class="left-part">
                    <ul class="clearfix">
                        <li><img src="../images/8.jpg" alt=""></li>
                        <li><img src="../images/8.jpg" alt=""></li>
                    </ul>
                </div>
                <div class="right-part">
                    <ul class="clearfix">
                        <li><img src="../images/9.jpg" alt=""></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pro-list">
            <ul class="select-nav ">
                <li>产品展示</li>
            </ul>
            <ul class="img-list clearfix">
                <li><img src="../images/4.jpg" alt=""></li>
                <li><img src="../images/4.jpg" alt=""></li>
                <li><img src="../images/4.jpg" alt=""></li>
                <li><img src="../images/4.jpg" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        2017 网站模板-家私家具 版权所有
    </div>
</body>
</html>